@model PRUEBAUS.EntidadesDeNegocio.Planta

@{
    ViewData["Title"] = "Crear";
    List<PRUEBAUS.EntidadesDeNegocio.Categoria> categorias = ViewBag.Categorias as List<PRUEBAUS.EntidadesDeNegocio.Categoria>;

}

<h1 class="text-center">Nueva planta</h1>

<hr />

<div class="row   d-flex justify-content-center">
    <div class="col-md-4" >
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
             <textarea class="form-control" asp-for="Descripcion" rows="3"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagenUrl" class="control-label"></label>
                <input asp-for="ImagenUrl" class="form-control" />
                <span asp-validation-for="ImagenUrl" class="text-danger"></span>
            </div>
              


            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>

                <select asp-for="CategoriaId" class=form-control>

                    <option selected value="SELECCIONAR" class="text-danger">SELECCIONAR</option>
                    @foreach(var item in categorias)
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }
                </select>

                <span asp-validation-for="CategoriaId"></span>

            </div>
            




            <br />

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                    <a asp-action="Index" type="butonn" class=" btn btn-secondary">Regresar a la lista  </a>

            </div>
        </form>
    </div>
</div>

@*<div>
    
</div>
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
